body {
  background-color: black;
}
/* ===== Navbar ===== */
header {
  background-color: black;
}
header .container nav {
  font-family: "Prata", serif;
  font-weight: 400;
}
header .container nav .navbar-brand {
  color: white;
}
header .container nav ul.mr-auto li a {
  color: #848484;
  margin-right: 20px;
  transition: color 0.3s;
}
header .container nav ul.mr-auto li a:hover {
  color: white;
}
header .container nav ul.float-lg-right li .btn {
  color: black;
  background-color: #fbe850;
  border-radius: 1px;
  padding: 8px 18px;
  transition: all 0.4s;
  border: 1px solid #fbe850;
}
header .container nav ul.float-lg-right li .btn:hover {
  background-color: black;
  color: #fbe850;
}
/* ========== Main Body ========== */
/* ===== Section 1 ===== */
main .section-1 div h1 {
  font-size: 60px;
  color: white;
  font-family: "Prata", serif;
  font-weight: 400;
}
main .section-1 div p {
  color: #848484;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
/* ===== Section 2 ===== */
main .section-3 .card {
  background-color: transparent;
}
main .section-3 .card .card-body {
  color: white;
  font-family: "Prata", serif;
}
main .section-3 .card .card-body h2 {
  cursor: pointer;
}
main .section-3 .card .card-body h2 i {
  margin-left: 20px;
}
main .section-3 .card .card-body p {
  color: #848484;
}
/* ===== Section 4 ===== */
main .section-4 {
  background-color: #2e3038;
}
main .section-4 .container .row h3 {
  color: white;
  font-size: 36px;
  font-family: "Prata", serif;
}
main .section-4 .container .row p {
  color: #848484;
  font-size: 18px;
}
/* ===== Section 5 ===== */
main .section-5 .row h3 {
  color: white;
  font-size: 36px;
  font-family: "Prata", serif;
}
main .section-5 .row p {
  color: #848484;
  font-size: 18px;
}
main .section-5 .row .btn {
  color: black;
  background-color: #fbe850;
  border-radius: 1px;
  padding: 8px 18px;
  transition: all 0.4s;
  border: 1px solid #fbe850;
}
main .section-5 .row .btn:hover {
  background-color: black;
  color: #fbe850;
}
/* ===== Footer ===== */
footer {
  background-color: #2e3038;
}
footer .container .row h4 {
  color: white;
  font-family: "Prata", serif;
}
footer .container .row .text-right img {
  margin-right: 5px;
  cursor: pointer;
}
/* ===== Extras ===== */
.pt-12 {
  padding-top: 120px;
}

@media (max-width: 768px) {
  main .section-1 div h1 {
    font-size: 50px;
  }
  main .section-4 .container .row h3 {
    font-size: 28px;
  }
  footer .container .row h4 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  main .section-1 div h1 {
    font-size: 30px;
  }
  footer .container .row h4 {
    font-size: 16px;
  }
}
